@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bedrijf: S.O.n.<br />
    Locatie: Onderwijsboulevard 215, 5223 DE 's-Hertogenbosch<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bcn.evenhuis@student.avans.nl">bcn.evenhuis@student.avans.nl</a><br />
    <strong>Support:</strong> <a href="mailto:ry.tenbrink@student.avans.nl">ry.tenbrink@student.avans.nl</a>
</address>